<div class="table-list-container">
  <div class="list-content">
    <div class="table-title">
      <div class="main-title">
        <img class="perfil-img" src="../../../assets/img/user-img.png" />
        <h2>Listagem de Clientes</h2>
      </div>
      <button mat-raised-button class="button-add" routerLink="/create-edit">
        <mat-icon>add</mat-icon>
        NOVO
      </button>
    </div>
    <hr />
    <table
      mat-table
      [dataSource]="dataSource"
      class="table-list-style"
      cellspacing="0"
      cellpadding="0"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.position }}
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>CNPJ</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="status-active" *ngIf="element.weight === 'Ativo'"
            >lens</mat-icon
          ><mat-icon
            class="status-inactive"
            *ngIf="element.weight === 'Inativo'"
            >lens</mat-icon
          >{{ element.weight }}
        </td>
      </ng-container>
      <!-- Get Details -->
      <ng-container matColumnDef="getdetails">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="button-column">
          <button
            mat-raised-button
            class="button-edit"
            (click)="getRecord(element.name)"
          >
            EDITAR
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <span>Exibindo {{ itemsQty }} de {{ itemsQty }} clientes</span>
    <!-- <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator> !-->
  </div>
</div>
