/* You can add global styles to this file, and also import other style files */

/* HTML TAGS STYLES */

body {
  margin: 0;
  padding: 0;
}

/* HEADER STYLES */

.header-toolbar {
  background: #616161;
  padding: 12.5px 12.5px;
}

.header-logo {
  width: 71px;
}

.mat-toolbar-row {
  justify-content: center;
}
