/* You can add global styles to this file, and also import other style files */

/* HTML TAGS STYLES */

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}

table,
tr,
td,
th {
  padding: 10px;
  margin: auto;
  border: none;
}

/* HEADER STYLES */

.header-toolbar {
  background: #616161;
  padding: 12.5px 12.5px;
}

.header-logo {
  width: 71px;
}

.mat-toolbar-row {
  justify-content: center;
}

/* TABLE STYLES */
.table-list-container {
  width: 100%;
}

.table-list-style {
  background: #fff;
}
